@media (hover: hover) {
  .blogLinkWrapper:hover {
    background: rgb(156 163 175/0.8);
  }
  .blogLinkWrapper:hover .blogLink {
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease;
    background: linear-gradient(
      90deg,
      #ffa8dd,
      #ffcd99,
      #feea7a,
      #9efecc,
      #8be8ff,
      #aeadfd
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
