@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: white;
    font-size: 14px;
    color: rgb(75 85 99);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-lato);

    @media (min-width: 640px) {
      font-size: 16px;
    }
  }

  body {
    &:has(div[class*="attractionSection"]) {
      overscroll-behavior-x: none;
    }
    &:has([data-fixed="true"]) {
      overflow: hidden;
    }
    &:has([data-font-fixed="true"]) {
      font-size: 16px;
    }
    &:has(.modal) {
      overflow: clip;
    }
  }

  #app-root,
  #modal-root {
    isolation: isolate;
  }

  h1 {
    @apply text-5xl font-bold font-display;
  }
  h2 {
    @apply text-4xl font-bold font-display;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }
  h6 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-[16px] leading-7;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
