@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: white;
    font-size: 14px;
    color: #090a0b;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-lato);
    &:has([data-fixed="true"]) {
      overflow: hidden;
    }
    @media (min-width: 640px) {
      font-size: 16px;
    }
  }

  h1 {
    @apply text-5xl font-bold font-display;
  }
  h2 {
    @apply text-4xl font-bold font-display;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }
  h6 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-[16px] leading-7;
  }
}

#app-root,
#modal-root {
  isolation: isolate;
}

body:has(div[class*="attractionSection"]) {
  overscroll-behavior-x: none;
}

body:has(.modal) {
  overflow: clip;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
